[submodule "helix"]
	path = helix
	url = git@github.com:mjkpolo/helix.git
	ignore = dirty
[submodule "fzf"]
	path = fzf
	url = git@github.com:junegunn/fzf.git
[submodule "tmux-modal"]
	path = tmux-modal
	url = git@github.com:mjkpolo/tmux-modal.git
[submodule "dothelix"]
	path = dothelix
	url = git@github.com:mjkpolo/helix-config.git
	ignore = dirty
[submodule "btop"]
	path = btop
	url = git@github.com:aristocratos/btop.git
